/* Contact Section */
.contact-section-sec {
	background-color: #000; /* Darkest black background */
	padding: 4rem 2rem;
	text-align: center;
}

/* Contact Content */
.contact-content-sec {
	max-width: 1200px;
	margin: 0 auto;
}

/* Heading Container */
.contact-heading-container-sec {
	margin-bottom: 0rem;
}

/* Heading */
.contact-heading-sec {
	font-size: 15rem;
	color: #fff;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	letter-spacing: -0.05em;
	margin: 0;
}

/* Gradient Text */
.gradient-text-sec {
	background: linear-gradient(
		45deg,
		#00ffff,
		#0099ff,
		#0022ff
	); /* Blue gradient text */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

/* Subheading */
.contact-subheading-sec {
	font-size: 1.5rem;
	color: #ddd;
	font-family: "Open Sans", sans-serif;
	margin-top: 1rem;
}

/* Responsive Styles */
@media (max-width: 1024px) {
	.contact-heading-sec {
		font-size: 10rem;
	}

	.contact-subheading-sec {
		font-size: 2rem;
	}
}

@media (max-width: 768px) {
	.contact-heading-sec {
		font-size: 10rem;
		text-align: left;
	}

	.contact-subheading-sec {
		font-size: 2rem;
		text-align: left;
	}
}

@media (max-width: 480px) {
	.contact-heading-sec {
		font-size: 5.5rem;
		text-align: left;
	}

	.contact-subheading-sec {
		font-size: 2rem;
		text-align: left;
	}
}
