/* Contact.css */
/* Contact Section */
.contact-section-sec {
	background-color: #000; /* Darkest black background */
	padding: clamp(2rem, 5vw, 4rem); /* Responsive padding */
	text-align: center;
}

/* Contact Content */
.contact-content-sec {
	max-width: 1200px;
	margin: 0 auto;
}

/* Heading Container */
.contact-heading-container-sec {
	margin-bottom: 0rem;
}

/* Heading */
.contact-heading-sec {
	font-size: clamp(5rem, 15vw, 15rem); /* Responsive font size */
	color: #fff;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	letter-spacing: -0.05em;
	margin: 0;
}

/* Gradient Text */
.gradient-text-sec {
	background: linear-gradient(
		45deg,
		#00ffff,
		#0099ff,
		#0022ff
	); /* Blue gradient text */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

/* Subheading */
.contact-subheading-sec {
	font-size: clamp(1.2rem, 2vw, 1.5rem); /* Responsive font size */
	color: #ddd;
	font-family: "Open Sans", sans-serif;
	margin-top: 1rem;
}

/* Responsive Styles */

@media (max-width: 768px) {
	.contact-heading-sec {
		font-size: clamp(8rem, 7vw, 8rem); /* Adjust font size for tablets */
		text-align: left; /* Align text to the left */
	}

	.contact-subheading-sec {
		font-size: clamp(2rem, 2vw, 1.5rem); /* Adjust font size for tablets */
		text-align: left; /* Align text to the left */
	}
}

@media (max-width: 480px) {
	.contact-heading-sec {
		font-size: clamp(4rem, 6vw, 5.5rem); /* Adjust font size for mobile */
		text-align: left; /* Align text to the left */
	}

	.contact-subheading-sec {
		font-size: clamp(1.5rem, 2vw, 2rem); /* Adjust font size for mobile */
		text-align: left; /* Align text to the left */
	}
}
