/* ==================== */
/* Full-Screen Heading */
/* ==================== */
.fullscreen-heading {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	height: 100vh; /* Cover the entire screen */
	background-color: #000; /* Black background */
	color: #fff; /* White text */
	text-align: center;
}

.heading-container {
	width: 100%;
	text-align: left; /* Left-align the punchline heading */
	padding-left: 2rem; /* Add some padding to align with the content */
}

.main-heading {
	font-size: clamp(8vw, 15vw, 18vw); /* Responsive font size */
	font-weight: 900;
	letter-spacing: -2px;
	line-height: 0.9;
	text-transform: uppercase;
	/* background: linear-gradient(45deg, #0099ff, #9a1aff); */
	-webkit-background-clip: text;
	/* -webkit-text-fill-color: transparent; */
	background-clip: text;
	margin: 0; /* Remove default margin */
	display: flex;
	flex-direction: column; /* Stack words vertically */
	align-items: flex-start; /* Left-align the words */
}

.main-heading span {
	color: white;
	display: block; /* Ensure each word is on a new line */
}

.learning {
	background: linear-gradient(45deg, #ff0033, #6a11cb, #0072ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.innovating {
	background: linear-gradient(90deg, #00ffff, #3333ff, #ff00cc);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
